In [5]:
import pandas as pd

In [9]:
df = pd.read_csv('./gapminder.tsv',sep='\t')

In [10]:
df.iloc[2]

country      Afghanistan
continent           Asia
year                1962
lifeExp           31.997
pop             10267083
gdpPercap        853.101
Name: 2, dtype: object

In [11]:
df.loc[2]

country      Afghanistan
continent           Asia
year                1962
lifeExp           31.997
pop             10267083
gdpPercap        853.101
Name: 2, dtype: object

In [13]:
df.loc[[0,3]]

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
3  Afghanistan      Asia  1967   34.020  11537966  836.197138

In [15]:
df.ix[2]

c:\users\mreddy\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

country      Afghanistan
continent           Asia
year                1962
lifeExp           31.997
pop             10267083
gdpPercap        853.101
Name: 2, dtype: object

In [16]:
subset = df.loc[:,['year','pop']]

In [18]:
subset.head()

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [20]:
year1967 =df.loc[df['year']==1967,['year','pop']]

In [21]:
year1967.head()

    year       pop
3   1967  11537966
15  1967   1984060
27  1967  12760499
39  1967   5247469
51  1967  22934225

In [24]:
year1967andpop1000And = df.loc[(df['year']==1967)&(df['pop']>1_000_000),['year','pop']]

In [25]:
year1967andpop1000And.head()

    year       pop
3   1967  11537966
15  1967   1984060
27  1967  12760499
39  1967   5247469
51  1967  22934225

In [26]:
year1967andpop1000OR = df.loc[(df['year']==1967)|(df['pop']>1_000_000),['year','pop']]

In [27]:
year1967andpop1000OR.head()

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460